<ion-view view-title="Products">
    <ion-content>
        <h1>Product's configuration</h1>
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchText">
        </label>
        <ion-list >
            <ion-checkbox ng-repeat="product in products.product| filter:searchText" ng-model="filter" ng-click="saveProduct(product)" ng-hide='filter' ng-if='!filter' class="block-border fade">
                <ion-item >
                    {{product}}
                </ion-item>
            </ion-checkbox>
        </ion-list>  
    </ion-content>
</ion-view>