<div class="container" ng-controller="WifiCtrl">
    <div ng-hide="(wifiList).length" style="text-align: center;">
       <br><br>
        Wifi detection in progress ...
       <br><br>
       <ion-spinner class="spinner-assertive"></ion-spinner>
       <br><br>
    </div>
    <div class="list card" ng-show="(wifiList).length">
      <a href="#" class="item item-icon-left" ng-repeat="wifi in wifiList">
        <i class="icon ion-wifi"></i>
        {{wifi.SSID}}
        <button type="button" class="btn btn-default btn-lg btn-block" ng-click="infoWifi(wifi)">Infos</button> 
        <div class="stars">
            <span class="ion-android-star" data-pack="android"></span>
            <span class="ion-android-star" data-pack="android"></span>
            <span class="ion-android-star" data-pack="android"></span>
            <span class="ion-android-star" data-pack="android"></span>
            <span class="ion-android-star-outline" data-pack="android"></span>
        </div>
        <p> {{wifi.score}} <small> / </small> 5 </p>
      </a>
    </div>
    <button class="button button-icon icon ion-refresh" ng-click="getList()"><i class="icon ion-refresh"></i>Refresh</button>
</div>