<ion-view view-title="Wifi Security">
  <ion-content>
    <div ng-controller="WifiCtrl">
        <div class="bar bar-header bar-balanced" ng-show="current" style="position: relative;">
          <h1 class="title">Connected on <b>{{current}}</h1>
        </div>
        <div class="card" ng-hide="wifiList.length" style="text-align: center;">
           <br><br>
            Wifi detection in progress ...
           <br><br>
           <ion-spinner class="spinner-assertive"></ion-spinner>
           <br><br>
        </div>
        <ul class="list card" ng-show="wifiList.length">
          <li href="#" class="item" ng-repeat="wifi in wifiList">
            <h1 class="title" style="display:inline;"><i class="icon ion-wifi"></i>{{wifi.SSID}}</h1>
            <br/>
            <label style="background-color: grey; color: white; padding: 2px; float: left;">
              <b>{{getSecurity(wifi.capabilities)}}<b>
            </label>
            <div class="stars" style="float: left;margin-left: 5px;">
              <span class="ion-android-star" data-pack="android" ng-repeat="i in getNumber(getScore(wifi.capabilities)) track by $index"></span>
              <span class="ion-android-star-outline" data-pack="android" ng-repeat="i in getNumber(5 - getScore(wifi.capabilities))  track by $index"></span>
            </div>
            <div style="float: left;margin-left: 5px;"> {{getScore(wifi.capabilities)}} <small> / </small> 5 </div>
            <div style="clear:both;"></div>
            <p style="color: grey; font-size:10px;">
              - BSSID : <b>{{wifi.BSSID}}</b><br/>
              - Capabilities : <b>{{wifi.capabilities}}</b><br/>
              - Frequency : <b>{{wifi.frequency}}</b><br/>
              - Level : <b>{{wifi.level}}</b><br/>
            </p>
          </li>
        </ul>
    </div>
  </ion-content>
</ion-view>
